.promotion-image-card {
  width: 100%;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
}
#promotion-image {
  width: 500px;
  border: 2px solid black;
}
.promotion-info-card {
  width: 100%;
  margin: 40px auto;
  background-color: green;
  color: white;
  border-radius: 20px;
  padding: 40px;
}

@media screen and (max-width: 650px) {
  .promotion-image-card {
    display: block;
  }
  #promotion-image {
    width: 250px;
  }
}

@media screen and (max-width: 1060px) {
  .promotion-image-card {
    display: block;
  }
  #promotion-image {
    width: 350px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1061px) {
  .promotion-info-card {
    width: 88%;
  }
}
