.delivery-card {
  width: 100%;
  background-color: rgb(53, 169, 97);
  margin: 100px auto;
  border-radius: 44px;
  color: white;
}
.delivery-options {
  width: 40%;
  margin: 50px auto;
  font-size: 22px;
  text-align: center;
  padding: 15px;
}
ol {
  text-align: center;
  padding-right: 13px;
}
.all-options {
  display: flex;
}
.option {
  font-size: 50px;
  color: rgb(149, 59, 59);
}
#phone {
  color: black;
}
#delivery {
  padding-top: 55px;
}

@media screen and (max-width: 940px) {
  .all-options {
    display: inline;
  }

  .delivery-options {
    width: 90%;
    font-size: 16px;
  }

}
