* {
  font-family: 'Kanit', sans-serif;
}
.header {
  width: 100%;
  overflow: hidden;
}

.banner {
  background-size: cover;
  background-position: center;
  width: auto;
  padding: 150px 0;
  margin: -8px -8px 0 -8px;
}
.banner h1 {
  margin: 0;
  color: rgb(191, 191, 191);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 29px;
  font-weight: bold;
}

.banner p {
  font-size: 18px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}
.banner-text {
  width: 75%;
  margin: 0 auto;
}
.button {
  margin-top: 40px;
}

li {
  list-style: none;
}

.category {
  /* height: 100px; */
  width: 98%;
  margin: 0 auto;
  display: grid;
  /* grid-row: ; */
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 650px) {
  .category {
    display: flex;
    justify-content: space-around;
  }
}
