
.buttons-selection-container{
  width: 90%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
}
.button-selection {
  margin: 20px;
  background-color: greenyellow;
  border: none;
  border: 1px solid green;
  border-radius: 10px 0 10px 0;
  color: green;
  text-align: center;
  width: 20px;
}
.current-page {
  background-color: gold;
  transform: scale(1.3);
}
